<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data source=ealdb1.eal.local; User Id =EJL67_USR; Password=Baz1nga67; Initial Catalog=EJL67_DB;" name="ConnString"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>